.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1);
  border-radius: var(--border-radius-l);
  background-color: unset;
  border: none;
  color: var(--color-text-primary);
  border: 1px solid var(--color-line-generic);
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-base-generic);
  }
}

:root[data-theme='dark'] .theme-button {
  background-color: var(--color-base-secondary);
  border-color: var(--color-line-brand);
}
