@use './reset';
@use './typography';
@use './themes';
@use './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

svg {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  background-color: var(--color-base-background);
}

#root {
  min-height: 100vh;
}
