:root {
  // Base
  --color-base-background: #f5f5f5;

  // Text
  --color-text-primary: rgba(0 0 0 / 85%);
  --color-text-secondary: rgba(0 0 0 / 35%);

  // Semantic
  --color-base-success: #28a745;
  --color-base-notice: #ffc107;
  --color-base-info: #17a2b8;
  --color-base-default: #6c757d;
}

:root[data-theme="dark"] {
  // Base
  --color-base-background: #202020;

  // Text
  --color-text-primary: rgba(255 255 255 / 85%);
  --color-text-secondary: rgba(255 255 255 / 35%);
}
