@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.woff2');
  font-weight: 700;
}
