.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: unset;
  width: 16px;
  height: 16px;
  color: inherit;
  transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &--expanded {
    transform: rotate(90deg);
  }
}
